@import "tailwindcss";

:root {
  --background-end-rgb: 255, 255, 255;
  --default-color: #4a90e2;
  --text-default: #4a90e2;
  --hover-color: #357abd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

.poppins {
  font-family: var(--font-poppins);
}

@layer utilities {
  /* Couleurs de texte */
  .text-default-color {
    color: var(--default-color);
  }

  /* Bouton principal */
  .btn-primary {
    background-color: var(--default-color);
    color: white;
    transition: background-color 0.3s ease;
  }

  .btn-primary:hover {
    background-color: var(--hover-color);
  }

  /* Bouton secondaire */
  .btn-secondary {
    border-color: var(--default-color);
    color: var(--default-color);
    background-color: transparent;
    transition: all 0.3s ease;
  }

  .btn-secondary:hover {
    border-color: var(--hover-color);
    color: white;
    background-color: var(--hover-color);
  }

  /* Icône hamburger */
  .hamburger-icon {
    color: var(--default-color);
  }
}
